In [198]:
print("hello world")

hello world

In [199]:
import pandas as pd

LOAD DATA INTO PANDAS

In [200]:
df=pd.read_csv('./CSV_FILES/pokemon_data.csv')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [201]:
#only get a fixed number of top rows using head() function and bottom rows using tail()
print(df.head(3))
print(df.tail(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False
       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

READING DATA IN PANDAS

In [202]:
#get column names
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [203]:
#read specific columns
print(df['Name'])
print(df['Name'][0:6])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
Name: Name, dtype: object

In [204]:
#read multiple columns
print(df[['Name','Attack','Defense']].head(5))

                    Name  Attack  Defense
0              Bulbasaur      49       49
1                Ivysaur      62       63
2               Venusaur      82       83
3  VenusaurMega Venusaur     100      123
4             Charmander      52       43

In [205]:
#printing rows
print(df.head(4))
print("**********************************************************")
print(df.iloc[0:4])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
**********************************************************
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [206]:
#get specific location's value
print(df.iloc[3,1])

VenusaurMega Venusaur

In [207]:
#iterating through rows of data
for i,rows in df.head(5).iterrows():
    print(i,rows['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander

In [208]:
#to get rows based on condition
# df.head(100).loc[df['Type 1']=="Grass"]
df.head(100).loc[df['Attack']>50]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
94,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False
95,88,Grimer,Poison,NaN,80,80,50,40,50,25,1,False
96,89,Muk,Poison,NaN,105,105,75,65,100,50,1,False
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
98,91,Cloyster,Water,Ice,50,95,180,85,45,70,1,False

SORTING AND DESCRIBING DATA

In [209]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [210]:
#sorting data according to a column value
# df.sort_values('Name')
df.sort_values('Name',ascending=False)#descedning order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [211]:
#sort according to multi columns
df.sort_values(['Name','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

UPDATING DATA

In [212]:
#adding new columns
df['defStat']=df['Defense']+df['Sp. Def']
df['atkStat']=df['Attack']+df['Sp. Atk']
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,defStat,atkStat
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,114,114
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,143,142
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,183,182
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,243,222
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,93,112
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,123,144
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,163,193
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,196,260
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,193,263
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,129,98

In [213]:
#remove columns
df=df.drop(columns=['defStat','atkStat'])
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [214]:
#good way of doing
df['stPoints']=df.iloc[:,4:10].sum(axis=1)
df.head(20)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,stPoints
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,395
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,195
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False,205
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,395
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495

In [215]:
#rearranging columns
cols=list(df.columns)
print(cols)

#stPoints to right of hp
df = df[cols[0:5] + [cols[-1]] + cols[5:12]]
print(df.head(5))

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'stPoints']
   #                   Name Type 1  Type 2  HP  stPoints  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison  45       318      49       49
1  2                Ivysaur  Grass  Poison  60       405      62       63
2  3               Venusaur  Grass  Poison  80       525      82       83
3  3  VenusaurMega Venusaur  Grass  Poison  80       625     100      123
4  4             Charmander   Fire     NaN  39       309      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

SAVING MODIFIED CSV

In [216]:
df.to_csv('modified')

DATA FILTERING

In [217]:
#Condtional operations are &,|
df.loc[(df['Type 1']=='Fire') & (df['Type 2']=='Flying') & (df['HP']>70)]

,#,Name,Type 1,Type 2,HP,stPoints,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,78,534,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,634,104,78,159,115,100,1,False
158,146,Moltres,Fire,Flying,90,580,100,90,125,85,90,1,True
270,250,Ho-oh,Fire,Flying,106,680,130,90,110,154,90,2,True
731,663,Talonflame,Fire,Flying,78,499,81,71,74,69,126,6,False

In [218]:
#reseting index according to new data frames
new_df=df.loc[(df['Type 1']=='Fire') | (df['Type 2']=='Flying')].head(5).reset_index()
print(new_df)

   index  #                       Name Type 1  Type 2  HP  stPoints  Attack  \
0      4  4                 Charmander   Fire     NaN  39       309      52
1      5  5                 Charmeleon   Fire     NaN  58       405      64
2      6  6                  Charizard   Fire  Flying  78       534      84
3      7  6  CharizardMega Charizard X   Fire  Dragon  78       634     130
4      8  6  CharizardMega Charizard Y   Fire  Flying  78       634     104

   Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       43       60       50     65           1      False
1       58       80       65     80           1      False
2       78      109       85    100           1      False
3      111      130       85    100           1      False
4       78      159      115    100           1      False

In [219]:
#filtering data based on substrings //names containing mega
new_df=df.loc[(df['Name'].str.contains('Mega'))]
print(new_df)

       #                       Name    Type 1    Type 2   HP  stPoints  \
3      3      VenusaurMega Venusaur     Grass    Poison   80       625
7      6  CharizardMega Charizard X      Fire    Dragon   78       634
8      6  CharizardMega Charizard Y      Fire    Flying   78       634
12     9    BlastoiseMega Blastoise     Water       NaN   79       630
19    15      BeedrillMega Beedrill       Bug    Poison   65       495
23    18        PidgeotMega Pidgeot    Normal    Flying   83       579
71    65      AlakazamMega Alakazam   Psychic       NaN   55       590
87    80        SlowbroMega Slowbro     Water   Psychic   95       590
102   94          GengarMega Gengar     Ghost    Poison   60       600
124  115  KangaskhanMega Kangaskhan    Normal       NaN  105       590
137  127          PinsirMega Pinsir       Bug    Flying   65       600
141  130      GyaradosMega Gyarados     Water      Dark   95       640
154  142  AerodactylMega Aerodactyl      Rock    Flying   80       615
163  150        MewtwoMega Mewtwo X   Psychic  Fighting  106       780
164  150        MewtwoMega Mewtwo Y   Psychic       NaN  106       780
168  154                   Meganium     Grass       NaN   80       525
196  181      AmpharosMega Ampharos  Electric    Dragon   90       610
224  208        SteelixMega Steelix     Steel    Ground   75       610
229  212          ScizorMega Scizor       Bug     Steel   70       600
232  214    HeracrossMega Heracross       Bug  Fighting   80       600
248  229      HoundoomMega Houndoom      Dark      Fire   75       600
268  248    TyranitarMega Tyranitar      Rock      Dark  100       700
275  254      SceptileMega Sceptile     Grass    Dragon   70       630
279  257      BlazikenMega Blaziken      Fire  Fighting   80       630
283  260      SwampertMega Swampert     Water    Ground  100       635
306  282    GardevoirMega Gardevoir   Psychic     Fairy   68       618
327  302        SableyeMega Sableye      Dark     Ghost   50       480
329  303          MawileMega Mawile     Steel     Fairy   50       480
333  306          AggronMega Aggron     Steel       NaN   70       630
336  308      MedichamMega Medicham  Fighting   Psychic   60       510
339  310    ManectricMega Manectric  Electric       NaN   70       575
349  319      SharpedoMega Sharpedo     Water      Dark   70       560
354  323      CameruptMega Camerupt      Fire    Ground   70       560
366  334        AltariaMega Altaria    Dragon     Fairy   75       590
387  354        BanetteMega Banette     Ghost       NaN   64       555
393  359            AbsolMega Absol      Dark       NaN   65       565
397  362          GlalieMega Glalie       Ice       NaN   80       580
409  373    SalamenceMega Salamence    Dragon    Flying   95       700
413  376    MetagrossMega Metagross     Steel   Psychic   80       700
418  380          LatiasMega Latias    Dragon   Psychic   80       700
420  381          LatiosMega Latios    Dragon   Psychic   80       700
426  384      RayquazaMega Rayquaza    Dragon    Flying  105       780
476  428        LopunnyMega Lopunny    Normal  Fighting   65       580
494  445      GarchompMega Garchomp    Dragon    Ground  108       700
498  448        LucarioMega Lucario  Fighting     Steel   70       625
511  460    AbomasnowMega Abomasnow     Grass       Ice   90       594
527  475        GalladeMega Gallade   Psychic  Fighting   68       618
591  531          AudinoMega Audino    Normal     Fairy  103       545
796  719        DiancieMega Diancie      Rock     Fairy   50       700

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
3       100      123      122      120     80           1      False
7       130      111      130       85    100           1      False
8       104       78      159      115    100           1      False
12      103      120      135      115     78           1      False
19      150       40       15       80    145           1      False
23       80       80      135       80    121           1      False
71       50       65      175       95    150           1      False
87       75      180      130       80     30           1      False
102      65       80      170       95    130           1      False
124     125      100       60      100    100           1      False
137     155      120       65       90    105           1      False
141     155      109       70      130     81           1      False
154     135       85       70       95    150           1      False
163     190      100      154      100    130           1       True
164     150       70      194      120    140           1       True
168      82      100       83      100     80           2      False
196      95      105      165      110     45           2      False
224     125      230       55       95     30           2      False
229     150      140       65      100     75           2      False
232     185      115       40      105     75           2      False
248      90       90      140       90    115           2      False
268     164      150       95      120     71           2      False
275     110       75      145       85    145           3      False
279     160       80      130       80    100           3      False
283     150      110       95      110     70           3      False
306      85       65      165      135    100           3      False
327      85      125       85      115     20           3      False
329     105      125       55       95     50           3      False
333     140      230       60       80     50           3      False
336     100       85       80       85    100           3      False
339      75       80      135       80    135           3      False
349     140       70      110       65    105           3      False
354     120      100      145      105     20           3      False
366     110      110      110      105     80           3      False
387     165       75       93       83     75           3      False
393     150       60      115       60    115           3      False
397     120       80      120       80    100           3      False
409     145      130      120       90    120           3      False
413     145      150      105      110    110           3      False
418     100      120      140      150    110           3       True
420     130      100      160      120    110           3       True
426     180      100      180      100    115           3       True
476     136       94       54       96    135           4      False
494     170      115      120       95     92           4      False
498     145       88      140       70    112           4      False
511     132      105      132      105     30           4      False
527     165       95       65      115    110           4      False
591      60      126       80      126     50           5      False
796     160      110      160      110    110           6       True

In [220]:
#names not containing mega
new_df=df.loc[~df['Name'].str.contains('Mega')]
print(new_df)

       #                 Name   Type 1  Type 2   HP  stPoints  Attack  \
0      1            Bulbasaur    Grass  Poison   45       318      49
1      2              Ivysaur    Grass  Poison   60       405      62
2      3             Venusaur    Grass  Poison   80       525      82
4      4           Charmander     Fire     NaN   39       309      52
5      5           Charmeleon     Fire     NaN   58       405      64
..   ...                  ...      ...     ...  ...       ...     ...
794  718     Zygarde50% Forme   Dragon  Ground  108       600     100
795  719              Diancie     Rock   Fairy   50       600     100
797  720  HoopaHoopa Confined  Psychic   Ghost   80       600     110
798  720   HoopaHoopa Unbound  Psychic    Dark   80       680     160
799  721            Volcanion     Fire   Water   80       600     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
4         43       60       50     65           1      False
5         58       80       65     80           1      False
..       ...      ...      ...    ...         ...        ...
794      121       81       95     95           6       True
795      150      100      150     50           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[751 rows x 13 columns]

In [221]:
#data filtering using reg ex
import re
new_df=df.loc[df['Type 1'].str.contains('Fire|Grass',regex=True)]
print(new_df)

       #                   Name Type 1  Type 2   HP  stPoints  Attack  \
0      1              Bulbasaur  Grass  Poison   45       318      49
1      2                Ivysaur  Grass  Poison   60       405      62
2      3               Venusaur  Grass  Poison   80       525      82
3      3  VenusaurMega Venusaur  Grass  Poison   80       625     100
4      4             Charmander   Fire     NaN   39       309      52
..   ...                    ...    ...     ...  ...       ...     ...
735  667                 Litleo   Fire  Normal   62       369      50
736  668                 Pyroar   Fire  Normal   86       507      68
740  672                 Skiddo  Grass     NaN   66       350      65
741  673                 Gogoat  Grass     NaN  123       531     100
799  721              Volcanion   Fire   Water   80       600     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
..       ...      ...      ...    ...         ...        ...
735       58       73       54     72           6      False
736       72      109       66    106           6      False
740       48       62       57     52           6      False
741       62       97       81     68           6      False
799      120      130       90     70           6       True

[122 rows x 13 columns]

In [222]:
#updating df using conditions
df.loc[df['Type 1']=='Fire','Type 1']='Inferno'
print(df.loc[df['Type 1']=='Inferno'])

       #                       Name   Type 1    Type 2   HP  stPoints  Attack  \
4      4                 Charmander  Inferno       NaN   39       309      52
5      5                 Charmeleon  Inferno       NaN   58       405      64
6      6                  Charizard  Inferno    Flying   78       534      84
7      6  CharizardMega Charizard X  Inferno    Dragon   78       634     130
8      6  CharizardMega Charizard Y  Inferno    Flying   78       634     104
42    37                     Vulpix  Inferno       NaN   38       299      41
43    38                  Ninetales  Inferno       NaN   73       505      76
63    58                  Growlithe  Inferno       NaN   55       350      70
64    59                   Arcanine  Inferno       NaN   90       555     110
83    77                     Ponyta  Inferno       NaN   50       410      85
84    78                   Rapidash  Inferno       NaN   65       500     100
135  126                     Magmar  Inferno       NaN   65       495      95
147  136                    Flareon  Inferno       NaN   65       525     130
158  146                    Moltres  Inferno    Flying   90       580     100
169  155                  Cyndaquil  Inferno       NaN   39       309      52
170  156                    Quilava  Inferno       NaN   58       405      64
171  157                 Typhlosion  Inferno       NaN   78       534      84
236  218                     Slugma  Inferno       NaN   40       250      40
237  219                   Magcargo  Inferno      Rock   50       410      50
259  240                      Magby  Inferno       NaN   45       365      75
263  244                      Entei  Inferno       NaN  115       580     115
270  250                      Ho-oh  Inferno    Flying  106       680     130
276  255                    Torchic  Inferno       NaN   45       310      60
277  256                  Combusken  Inferno  Fighting   60       405      85
278  257                   Blaziken  Inferno  Fighting   80       530     120
279  257      BlazikenMega Blaziken  Inferno  Fighting   80       630     160
352  322                      Numel  Inferno    Ground   60       305      60
353  323                   Camerupt  Inferno    Ground   70       460     100
354  323      CameruptMega Camerupt  Inferno    Ground   70       560     120
355  324                    Torkoal  Inferno       NaN   70       470      85
435  390                   Chimchar  Inferno       NaN   44       309      58
436  391                   Monferno  Inferno  Fighting   64       405      78
437  392                  Infernape  Inferno  Fighting   76       534     104
518  467                  Magmortar  Inferno       NaN   75       540      95
542  485                    Heatran  Inferno     Steel   91       600      90
557  498                      Tepig  Inferno       NaN   65       308      63
558  499                    Pignite  Inferno  Fighting   90       418      93
559  500                     Emboar  Inferno  Fighting  110       528     123
572  513                    Pansear  Inferno       NaN   50       316      53
573  514                   Simisear  Inferno       NaN   75       498      98
614  554                   Darumaka  Inferno       NaN   70       315      90
615  555    DarmanitanStandard Mode  Inferno       NaN  105       480     140
616  555         DarmanitanZen Mode  Inferno   Psychic  105       540      30
692  631                    Heatmor  Inferno       NaN   85       484      97
721  653                   Fennekin  Inferno       NaN   40       307      45
722  654                    Braixen  Inferno       NaN   59       409      59
723  655                    Delphox  Inferno   Psychic   75       534      69
730  662                Fletchinder  Inferno    Flying   62       382      73
731  663                 Talonflame  Inferno    Flying   78       499      81
735  667                     Litleo  Inferno    Normal   62       369      50
736  668                     Pyroar  Inferno    Normal   86       507      68
799  721                  Volcanion  Inferno     Water   80       600     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
42        40       50       65     65           1      False
43        75       81      100    100           1      False
63        45       70       50     60           1      False
64        80      100       80     95           1      False
83        55       65       65     90           1      False
84        70       80       80    105           1      False
135       57      100       85     93           1      False
147       60       95      110     65           1      False
158       90      125       85     90           1       True
169       43       60       50     65           2      False
170       58       80       65     80           2      False
171       78      109       85    100           2      False
236       40       70       40     20           2      False
237      120       80       80     30           2      False
259       37       70       55     83           2      False
263       85       90       75    100           2       True
270       90      110      154     90           2       True
276       40       70       50     45           3      False
277       60       85       60     55           3      False
278       70      110       70     80           3      False
279       80      130       80    100           3      False
352       40       65       45     35           3      False
353       70      105       75     40           3      False
354      100      145      105     20           3      False
355      140       85       70     20           3      False
435       44       58       44     61           4      False
436       52       78       52     81           4      False
437       71      104       71    108           4      False
518       67      125       95     83           4      False
542      106      130      106     77           4       True
557       45       45       45     45           5      False
558       55       70       55     55           5      False
559       65      100       65     65           5      False
572       48       53       48     64           5      False
573       63       98       63    101           5      False
614       45       15       45     50           5      False
615       55       30       55     95           5      False
616      105      140      105     55           5      False
692       66      105       66     65           5      False
721       40       62       60     60           6      False
722       58       90       70     73           6      False
723       72      114      100    104           6      False
730       55       56       52     84           6      False
731       71       74       69    126           6      False
735       58       73       54     72           6      False
736       72      109       66    106           6      False
799      120      130       90     70           6       True

In [223]:
#all legendary pokemons are type 1 inferno
df.loc[df['Type 1']=='Inferno','Legendary']=True
print(df.loc[df['Type 1']=='Inferno'].head(20))

       #                       Name   Type 1  Type 2  HP  stPoints  Attack  \
4      4                 Charmander  Inferno     NaN  39       309      52
5      5                 Charmeleon  Inferno     NaN  58       405      64
6      6                  Charizard  Inferno  Flying  78       534      84
7      6  CharizardMega Charizard X  Inferno  Dragon  78       634     130
8      6  CharizardMega Charizard Y  Inferno  Flying  78       634     104
42    37                     Vulpix  Inferno     NaN  38       299      41
43    38                  Ninetales  Inferno     NaN  73       505      76
63    58                  Growlithe  Inferno     NaN  55       350      70
64    59                   Arcanine  Inferno     NaN  90       555     110
83    77                     Ponyta  Inferno     NaN  50       410      85
84    78                   Rapidash  Inferno     NaN  65       500     100
135  126                     Magmar  Inferno     NaN  65       495      95
147  136                    Flareon  Inferno     NaN  65       525     130
158  146                    Moltres  Inferno  Flying  90       580     100
169  155                  Cyndaquil  Inferno     NaN  39       309      52
170  156                    Quilava  Inferno     NaN  58       405      64
171  157                 Typhlosion  Inferno     NaN  78       534      84
236  218                     Slugma  Inferno     NaN  40       250      40
237  219                   Magcargo  Inferno    Rock  50       410      50
259  240                      Magby  Inferno     NaN  45       365      75

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1       True
5         58       80       65     80           1       True
6         78      109       85    100           1       True
7        111      130       85    100           1       True
8         78      159      115    100           1       True
42        40       50       65     65           1       True
43        75       81      100    100           1       True
63        45       70       50     60           1       True
64        80      100       80     95           1       True
83        55       65       65     90           1       True
84        70       80       80    105           1       True
135       57      100       85     93           1       True
147       60       95      110     65           1       True
158       90      125       85     90           1       True
169       43       60       50     65           2       True
170       58       80       65     80           2       True
171       78      109       85    100           2       True
236       40       70       40     20           2       True
237      120       80       80     30           2       True
259       37       70       55     83           2       True

In [224]:
df=pd.read_csv('CSV_FILES\modified')
print(df)

     Unnamed: 0    #                   Name   Type 1  Type 2  HP  stPoints  \
0             0    1              Bulbasaur    Grass  Poison  45       318
1             1    2                Ivysaur    Grass  Poison  60       405
2             2    3               Venusaur    Grass  Poison  80       525
3             3    3  VenusaurMega Venusaur    Grass  Poison  80       625
4             4    4             Charmander     Fire     NaN  39       309
..          ...  ...                    ...      ...     ...  ..       ...
795         795  719                Diancie     Rock   Fairy  50       600
796         796  719    DiancieMega Diancie     Rock   Fairy  50       700
797         797  720    HoopaHoopa Confined  Psychic   Ghost  80       600
798         798  720     HoopaHoopa Unbound  Psychic    Dark  80       680
799         799  721              Volcanion     Fire   Water  80       600

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        49       49       65       65     45           1      False
1        62       63       80       80     60           1      False
2        82       83      100      100     80           1      False
3       100      123      122      120     80           1      False
4        52       43       60       50     65           1      False
..      ...      ...      ...      ...    ...         ...        ...
795     100      150      100      150     50           6       True
796     160      110      160      110    110           6       True
797     110       60      150      130     70           6       True
798     160       60      170      130     80           6       True
799     110      120      130       90     70           6       True

[800 rows x 14 columns]

In [225]:
#changing multi columns conditionally
df.loc[df['stPoints']>500,['Generation','Legendary']]=['0',True]
print(df.head(10))

   Unnamed: 0  #                       Name Type 1  Type 2  HP  stPoints  \
0           0  1                  Bulbasaur  Grass  Poison  45       318
1           1  2                    Ivysaur  Grass  Poison  60       405
2           2  3                   Venusaur  Grass  Poison  80       525
3           3  3      VenusaurMega Venusaur  Grass  Poison  80       625
4           4  4                 Charmander   Fire     NaN  39       309
5           5  5                 Charmeleon   Fire     NaN  58       405
6           6  6                  Charizard   Fire  Flying  78       534
7           7  6  CharizardMega Charizard X   Fire  Dragon  78       634
8           8  6  CharizardMega Charizard Y   Fire  Flying  78       634
9           9  7                   Squirtle  Water     NaN  44       314

   Attack  Defense  Sp. Atk  Sp. Def  Speed Generation  Legendary
0      49       49       65       65     45          1      False
1      62       63       80       80     60          1      False
2      82       83      100      100     80          0       True
3     100      123      122      120     80          0       True
4      52       43       60       50     65          1      False
5      64       58       80       65     80          1      False
6      84       78      109       85    100          0       True
7     130      111      130       85    100          0       True
8     104       78      159      115    100          0       True
9      48       65       50       64     43          1      False

C:\Users\Nipun\AppData\Local\Temp\ipykernel_4116\3595218626.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['stPoints']>500,['Generation','Legendary']]=['0',True]

In [226]:
df=pd.read_csv('CSV_FILES\modified')
print(df)

     Unnamed: 0    #                   Name   Type 1  Type 2  HP  stPoints  \
0             0    1              Bulbasaur    Grass  Poison  45       318
1             1    2                Ivysaur    Grass  Poison  60       405
2             2    3               Venusaur    Grass  Poison  80       525
3             3    3  VenusaurMega Venusaur    Grass  Poison  80       625
4             4    4             Charmander     Fire     NaN  39       309
..          ...  ...                    ...      ...     ...  ..       ...
795         795  719                Diancie     Rock   Fairy  50       600
796         796  719    DiancieMega Diancie     Rock   Fairy  50       700
797         797  720    HoopaHoopa Confined  Psychic   Ghost  80       600
798         798  720     HoopaHoopa Unbound  Psychic    Dark  80       680
799         799  721              Volcanion     Fire   Water  80       600

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        49       49       65       65     45           1      False
1        62       63       80       80     60           1      False
2        82       83      100      100     80           1      False
3       100      123      122      120     80           1      False
4        52       43       60       50     65           1      False
..      ...      ...      ...      ...    ...         ...        ...
795     100      150      100      150     50           6       True
796     160      110      160      110    110           6       True
797     110       60      150      130     70           6       True
798     160       60      170      130     80           6       True
799     110      120      130       90     70           6       True

[800 rows x 14 columns]

STATISTICS

In [251]:
#first select numeric columns then apply mean function
df=pd.read_csv('CSV_FILES\modified')
numeric_cols=df.select_dtypes(include=['int64', 'float64']).columns
grouped_by_type1 = df.groupby('Type 1')[numeric_cols]
mean_values = grouped_by_type1.mean().sort_values('HP',ascending=False)
print(mean_values)

          Unnamed: 0           #         HP    stPoints      Attack  \
Type 1
Dragon    521.843750  474.375000  83.312500  550.531250  112.125000
Normal    351.581633  319.173469  77.275510  401.683673   73.469388
Fairy     494.529412  449.529412  74.117647  413.176471   61.529412
Ground    392.312500  356.281250  73.781250  437.500000   95.750000
Water     333.312500  303.089286  72.062500  430.455357   74.151786
Ice       465.666667  423.541667  72.000000  433.458333   72.750000
Flying    746.500000  677.750000  70.750000  485.000000   78.750000
Psychic   420.105263  380.807018  70.631579  475.947368   71.456140
Fire      360.942308  327.403846  69.903846  458.076923   84.769231
Fighting  400.444444  363.851852  69.851852  416.444444   96.777778
Grass     380.414286  344.871429  67.271429  421.142857   73.214286
Poison    278.285714  251.785714  67.250000  399.142857   74.678571
Dark      507.387097  461.354839  66.806452  445.741935   88.387097
Rock      431.840909  392.727273  65.363636  453.750000   92.863636
Steel     486.296296  442.851852  65.222222  487.703704   92.703704
Ghost     536.281250  486.500000  64.437500  439.562500   73.781250
Electric  400.590909  363.500000  59.795455  443.409091   69.090909
Bug       368.072464  334.492754  56.884058  378.927536   70.971014

             Defense    Sp. Atk    Sp. Def       Speed  Generation
Type 1
Dragon     86.375000  96.843750  88.843750   83.031250    3.875000
Normal     59.846939  55.816327  63.724490   71.551020    3.051020
Fairy      65.705882  78.529412  84.705882   48.588235    4.117647
Ground     84.843750  56.468750  62.750000   63.906250    3.156250
Water      72.946429  74.812500  70.517857   65.964286    2.857143
Ice        71.416667  77.541667  76.291667   63.458333    3.541667
Flying     66.250000  94.250000  72.500000  102.500000    5.500000
Psychic    67.684211  98.403509  86.280702   81.491228    3.385965
Fire       67.769231  88.980769  72.211538   74.442308    3.211538
Fighting   65.925926  53.111111  64.703704   66.074074    3.370370
Grass      70.800000  77.500000  70.428571   61.928571    3.357143
Poison     68.821429  60.428571  64.392857   63.571429    2.535714
Dark       70.225806  74.645161  69.516129   76.161290    4.032258
Rock      100.795455  63.340909  75.477273   55.909091    3.454545
Steel     126.370370  67.518519  80.629630   55.259259    3.851852
Ghost      81.187500  79.343750  76.468750   64.343750    4.187500
Electric   66.295455  90.022727  73.704545   84.500000    3.272727
Bug        70.724638  53.869565  64.797101   61.681159    3.217391

In [252]:
#sorting according to type1 pokemons who have the highest atk
mean_atk=grouped_by_type1.mean().sort_values('Speed',ascending=False)
print(mean_atk)

          Unnamed: 0           #         HP    stPoints      Attack  \
Type 1
Flying    746.500000  677.750000  70.750000  485.000000   78.750000
Electric  400.590909  363.500000  59.795455  443.409091   69.090909
Dragon    521.843750  474.375000  83.312500  550.531250  112.125000
Psychic   420.105263  380.807018  70.631579  475.947368   71.456140
Dark      507.387097  461.354839  66.806452  445.741935   88.387097
Fire      360.942308  327.403846  69.903846  458.076923   84.769231
Normal    351.581633  319.173469  77.275510  401.683673   73.469388
Fighting  400.444444  363.851852  69.851852  416.444444   96.777778
Water     333.312500  303.089286  72.062500  430.455357   74.151786
Ghost     536.281250  486.500000  64.437500  439.562500   73.781250
Ground    392.312500  356.281250  73.781250  437.500000   95.750000
Poison    278.285714  251.785714  67.250000  399.142857   74.678571
Ice       465.666667  423.541667  72.000000  433.458333   72.750000
Grass     380.414286  344.871429  67.271429  421.142857   73.214286
Bug       368.072464  334.492754  56.884058  378.927536   70.971014
Rock      431.840909  392.727273  65.363636  453.750000   92.863636
Steel     486.296296  442.851852  65.222222  487.703704   92.703704
Fairy     494.529412  449.529412  74.117647  413.176471   61.529412

             Defense    Sp. Atk    Sp. Def       Speed  Generation
Type 1
Flying     66.250000  94.250000  72.500000  102.500000    5.500000
Electric   66.295455  90.022727  73.704545   84.500000    3.272727
Dragon     86.375000  96.843750  88.843750   83.031250    3.875000
Psychic    67.684211  98.403509  86.280702   81.491228    3.385965
Dark       70.225806  74.645161  69.516129   76.161290    4.032258
Fire       67.769231  88.980769  72.211538   74.442308    3.211538
Normal     59.846939  55.816327  63.724490   71.551020    3.051020
Fighting   65.925926  53.111111  64.703704   66.074074    3.370370
Water      72.946429  74.812500  70.517857   65.964286    2.857143
Ghost      81.187500  79.343750  76.468750   64.343750    4.187500
Ground     84.843750  56.468750  62.750000   63.906250    3.156250
Poison     68.821429  60.428571  64.392857   63.571429    2.535714
Ice        71.416667  77.541667  76.291667   63.458333    3.541667
Grass      70.800000  77.500000  70.428571   61.928571    3.357143
Bug        70.724638  53.869565  64.797101   61.681159    3.217391
Rock      100.795455  63.340909  75.477273   55.909091    3.454545
Steel     126.370370  67.518519  80.629630   55.259259    3.851852
Fairy      65.705882  78.529412  84.705882   48.588235    4.117647

In [259]:
#counting each type of type 1 pokemon
df['count']=1
df.groupby(['Type 1','Type 2']).count()['count']

Type 1   Type 2
Bug      Electric     2
         Fighting     2
         Fire         2
         Flying      14
         Ghost        1
                     ..
Psychic  Dark         1
         Fairy        6
         Fighting     3
         Fire         1
         Flying       6
Name: count, Length: 100, dtype: int64